/*GENERAL*/
h2 {
  text-align: center;
  font-weight: 600;
}

h3 {
  text-align: center;
}

form {
  text-align: center;
}

input, textarea {
  width: 500px;
  height: 30px;
  margin-bottom: 20px;
  padding: 10px;
}

textarea {
  width: 500px;
  height: 200px;
  margin-bottom: 20px;
  padding: 10px;
}

.banner-text {
  text-align: center;
  color: white;
  font-size: 100px;
  font-family: "Kanit", sans-serif;
  padding-top: 180px;
}

.datos {
  font-size: 15px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.texto-dato {
  font: 50px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: 800;
}

.text-1 {
  margin: 10px 15px;
  text-align: center;
}

.texto-informativo {
  text-align: center;
}

.datos {
  font-size: 15px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.texto-dato {
  font: 50px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: 800;
}

.nombre {
  text-align: center;
}

.precio {
  text-align: center;
}

.faqs {
  justify-content: center;
  width: 80%;
  position: relative;
  min-height: 1px;
  padding-right: 5px;
  padding-left: 30px;
}

.margen {
  text-align: center;
}

.sin-cuenta {
  text-align: center;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 200px;
}

.banner {
  height: 65vh;
  background-image: url(../imagenes/productos.jpg);
  background-size: cover;
  background-position: 69%;
}

.logo {
  text-align: center;
}

.producto {
  padding-right: 35px;
  padding-left: 35px;
  transition: all 0.5s;
}

.producto img:hover {
  transform: scale(1.1);
  transition: all 5;
}

.redes-sociales {
  text-align: center;
  margin: 0;
  padding: 0;
}

.boton {
  text-align: center;
}

.btn1 {
  border-radius: 20px;
  cursor: pointer;
  background-color: black;
  color: rgb(255, 255, 255);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-decoration: none;
  padding: 10px;
  margin-bottom: 40px;
}

.btn1:hover {
  background-color: gray;
  transform: scale(1.1);
}

header a:hover {
  background-color: grey;
  border-radius: 2rem;
}

li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.link:hover {
  background-color: gray;
  border-radius: 2rem;
}

.link {
  text-decoration: none;
  color: white;
  font-size: 15px;
}

.link2 {
  text-decoration: none;
  color: black;
  text-align: center;
  font-weight: 600;
}

.correct {
  margin-right: -1rem;
}

.pad {
  padding-bottom: 45px;
  padding-top: 30px;
}

footer {
  background-color: black;
  color: white;
  padding: 45px;
}

.contactanos h5 {
  text-align: center;
}

.contactanos p {
  text-align: center;
}

.p-footer {
  text-align: center;
}

.tienda {
  text-align: center;
  padding: 2rem;
}

body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-decoration: none;
}

.conteiner {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-evenly;
}

.conteiner-centro {
  width: 100%;
  height: auto;
}

.productos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.form-group {
  padding: 15px;
  font-size: 16px;
  border-radius: 5px;
  width: 100%;
}

/*# sourceMappingURL=main.css.map */
