footer {
    background-color: black;
    color: white;
    padding: 45px;
}
 
.contactanos h5 {
    text-align: center;
}  

.contactanos p {
    text-align: center;
}

.p-footer {
    text-align: center;

}

.tienda {
    text-align: center;
    padding: 2rem;
}