.banner {
    height: 65vh;
    background-image: url(/imagenes/productos.jpg);
    background-size: cover;
    background-position: 69%;

}
.logo {
    text-align: center;

}

.producto {
    padding-right: 35px;
    padding-left: 35px;
}

