header a:hover {
    background-color: grey;
    border-radius: 2rem;
}

li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.link:hover{
    background-color: gray;
    border-radius: 2rem;
}
.link {
    text-decoration: none;
    color: white;
    font-size: 15px;
}

.link2 {
    text-decoration: none;
    color: black;
    text-align: center;
    font-weight: 600;
}

