/*GENERAL*/
@import "_textos";
@import "_imagenes";
@import "_botones.scss";
@import "_links.scss";
@import "header.scss";
@import "footer.scss";

 body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
text-decoration: none;
}

.conteiner {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: space-evenly;
}

.conteiner-centro {
    width: 100%;
    height: auto;
}


.productos {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
}


.form-group {
    padding:15px;
    font-size: 16px;
    border-radius: 5px;
    width: 100%;
}


